<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Learning
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="background">
    <ion-card>
  <ion-list class="accordion-list">
 
    <!-- First Level -->
    <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
        {{ item.name }}
      </button>
 
      <ion-list *ngIf="item.children && item.open" no-lines>
        <!-- Second Level -->
        <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>
          <!-- Toggle Button -->
          <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
            <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
            <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
            {{ child.name }}
          </button>
          <!-- Direct Add Button as Fallback -->
          <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap no-lines>
            <p class="lowercase" >{{ child.information }}</p> <br>
            <p class="lowercase" > {{ child.example }}</p>
          </ion-item>
 
          <ion-list *ngIf="child.children && child.open">
            <!-- Third Level -->
            <ion-item *ngFor="let item of child.children; let k = index" detail-none class="child-item" text-wrap>
              <p class="lowercase" >{{ item.information }}</p><br>
              <!-- Direct Add Button -->
              <div style="text-transform:capitalize">Example</div><p class="lowercase" >{{ item.example }}</p>
            </ion-item>
          </ion-list>
 
        </ion-list-header>
      </ion-list>
      
    </ion-list-header>
  </ion-list>
    </ion-card>
</ion-content>